<swal
    #deleteSwal
    title="¿Estas seguro que desea eliminar?"
    text="los datos no se recuperaran"
    type="warning"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<div style="width: 100vw;">
  <div class="row m-0">
    <div class="col-md-8 mb-3 text-right offset-md-2">
      <button class="btn btn-primary btn2" (click)="openModal(content, newUserForm,null)" data-toggle="modal" data-target="#modalUser">
        Agregar
      </button>
    </div>

    <div class="col-md-6  offset-md-3" *ngFor="let user of users">
      <div class="card mt-4">
        <h3 class="card-header bg-light ">{{user.data.apellido}}</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-block btn-primary   btn1"
                      (click)="openModal(content, newUserForm,user)"
              >Editar</button>
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn btn-block btn-danger btn2"
                      [swal]="deleteSwal"
                      (confirm)="delete(user)"
              >Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content>
  <div class="row m-0">
    <div class="col-md-12 text-center mt-3">
      <h5>Nuevo usuario</h5>
    </div>
    <div class="col-md-12 py-3">
      <form (ngSubmit)="newUser(newUserForm.value)" [formGroup]="newUserForm">
        <div class="row">
          <input type="hidden" formControlName="id">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" id="nombre">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input class="form-control" type="text" formControlName="apellido" id="apellido">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="correo">Correo</label>
              <input class="form-control" type="text" formControlName="correo" id="correo">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="edad">Edad</label>
              <input class="form-control" type="text" formControlName="edad" id="edad">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!newUserForm.valid">
              Agregar
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</ng-template>
